/src/qrchat/accounts/migrations
/src/qrchat/chat/migrations

/src/qrchat/chat/assets/css/style-dev.css
/src/qrchat/chat/assets/css/style2-dev.css

/local_container/mysql
/src/qrchat/db.sqlite3

/local_container/secret_keys/user_password.txt
/local_container/secret_keys/root_password.txt
/local_container/secret_keys/django_secret.txt

/remote_container/terraform/.terraform
/remote_container/terraform/.terraform.lock.hcl
/remote_container/terraform/django-task.zip
/remote_container/terraform/terraform.tfstate
/remote_container/terraform/terraform.tfstate.backup
/remote_container/terraform/terraform_test.tfvars

/src/qrchat/media/qrcodes
/src/qrchat/static