{% extends 'base.html' %}

{% block content %}
<section class = "content-section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <a href="{% url 'accounts:custom_login' %}" class="site-title">QrChat</a>
            <h2 class="site-sub-title">Lobby</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
			<h4 class="row justify-content-center mb-5">ルーム名: {{ room_name|safe }}</h4>
            <div class="login-wrap p-0">
                <form action="#" method="POST" class="signin-form" novalidate>
                    {% load widget_tweaks %}
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == "ユーザー名" %}
                        <label for="room_username">{{ field.label }}</label>
                        <div class="form-group">
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" id="room" placeholder="ユーザー名を入力" %}
                        <div class="invalid-feedback">{{field.errors}}</div>
                        {% else %}
                        {% render_field field class="form-control" id="room" placeholder="ユーザー名を入力" %}
                        {% endif %}
                        {% endif %}
						{% if field.is_hidden %}
						{{ field.as_hidden }}
						{% endif %}
                        </div>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    {% if error %}
                    <p class="error" role="alert">{{ error | linebreaksbr}}</p>
                    {% endif %}
                    {% endfor %}
                    {% if messages %}
                    <ul role="alert">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit">ルーム参加</button>
                    </div>
                </form>
                <div class="form-group d-flex justify-content-between">
                    {% if user.is_authenticated %}
                    <form action='{% url "accounts:custom_logout" %}' method='GET' name='logout'>
                        <button type="submit" class="btn submit">ログアウト</button>
                    </form>
                    {% endif %}
                    {% if room_qrcode %}
                        <a href="{{ room_qrcode }}" target="_blank">QRコードを取得</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}