{% extends 'base.html' %}

{% block content %}
<section class = "content-section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <a href="{% url 'accounts:custom_login' %}" class="site-title">QrChat</a>
            <h2 class="site-sub-title">Login</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="login-wrap p-0">
                <form action="#" method="POST" class="signin-form" novalidate>
                    {% load widget_tweaks %}
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == "ログインID" %}
                        <label for="login_id">{{ field.label }}</label>
                        <div class="form-group">
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" id="login_id" placeholder="ログインIDを入力" %}
                        <div class="invalid-feedback">{{field.errors}}</div>
                        {% else %}
                        {% render_field field class="form-control" id="login_id" placeholder="ログインIDを入力" %}
                        {% endif %}
                        </div>
                        {% elif field.label == "パスワード" %}
                        <label for="password">{{ field.label }}</label>
                        <div class="form-group">
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" id="password" placeholder="パスワードを入力" %}
                        <div class="invalid-feedback">{{field.errors}}</div>
                        {% else %}
                        {% render_field field class="form-control" id="password1" placeholder="パスワードを入力" %}
                        {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    {% if error %}
                    <p class="error" role="alert">{{ error | linebreaksbr}}</p>
                    {% endif %}
                    {% endfor %}
                    {% if messages %}
                    <ul role="alert">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit">ログイン</button>
                    </div>
                    <a href="{% url 'accounts:custom_signup' %}">新規登録</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}